<div class="list">
  <form class="update-all-items" action="/lists/update" method="post">
    <input type="hidden" name="id" value="<%= list.id %>">
    <input type="hidden" name="name" value="<%= list.name %>">
    <div class="list-header-container">
      
      <div class="list-header"><%= list.name %> </div>
      <div class="header-cut">
        <div id="triangle-topleft"></div>
      </div>
    </div>
    <div class="items">
      <ul class="js-sortable-items">
        <% list.items.each_with_index do |item, index| %>
        <%= erb :"shared/_item.html", locals: {item: item} %>
        <% end %>
      </ul>
    </div>
  </form>
  
  
  <form class="add-item" action="lists/<%= list.id %>/items/add" method="post">
    <input type="text" name="name" class="new-item" placeholder="Add an item..." required>
  </form>
</div>